@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-Regular.ttf") format("truetype"),
    url("fonts/Outfit-Bold.ttf") format("truetype");
}

body {
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.card {
  background-color: hsl(0, 0%, 100%);
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  width: 25em;
}

.card_image img {
  border-radius: 1em;
  width: 100%;
  height: 100%;
}
.card_information h1 {
  color: hsl(218, 44%, 22%);
  font-family: "Outfit";
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 0.7em;
}

.card_information p {
  color: hsl(220, 15%, 55%);
  font-family: "Outfit";
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  padding: 1em;
}

@media only screen and (min-width: 375px) {
  .frame {
    width: 25m;
    height: 40em;
  }

  .card_image {
    width: 100%;
    height: 100%;
  }

  .card_information h1 {
    font-size: 28px;
  }

  .card_information p {
    margin: 0.5em;
  }
}
